html * {
    font-family: 'Pangolin', cursive;
}

#content {
    height: 100vh;
    border-left: 20px solid #b71e2c;
    border-right: 20px solid #b71e2c;
}

#main1 {
    margin-top: 128px;
}

#mainTitle {
    font-size: 90px;
    margin-bottom: 128px;
    font-weight: bold;
    color: #f2cb00;
}

#secondTitle {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    bottom: 140px;
    color: #b71e2c;
}

#start {
    background-color: #f2cb00;
    padding: 2vh;
    font-size: 64px;
    font-weight: bold;
    color: #333;
    width: 60%;
    margin-left: 20%;

    border-radius: 10px;
    border: solid 4px #b71e2c;

    animation-duration: 1s;
    animation-name: bounceIn;

    cursor: pointer;
}
#start:hover {
    background-color: #f88a22;
    transform: scale(1.02);
}

.question {
    background-color: #dd342f;
    border-radius: 12px;
    border: 8px solid #b71e2c;
    font-family: 'Pangolin', cursive;
    font-size: 36px;
    color: #f2cb00;
    width: 90%;
    
    margin-bottom: 64px;
    padding: 24px;
}

#timer {
    display: inline-block;
    position: absolute;
    right: 32px;
    top: -4px;
    padding: 24px;
    font-size: 48px;
    font-weight: bold;
    color: #dd342f;
    transform: rotate(0deg);
    background-color: #f88a22;
    
    border-radius: 5px;
    border: 8px solid #b71e2c;

    transform: rotate(15deg);
    width: 124px;
}

.answer {
    background-color: #f2cb00;
    border-radius: 12px;
    font-family: 'Pangolin', cursive;
    font-size: 24px;

    display: inline-block;
    width: calc(50% - 20px);

    box-sizing: border-box;
    border: 2px solid #b71e2c;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}
.answer:hover {
    background-color: #f88a22;
}

#refresh {
    background-color: #f2cb00;
    margin-left: calc(50% - 66px);
    margin-top: 64px;
    width: 133px;

    border-radius: 10px;
    border: solid 4px #b71e2c;

    animation-duration: 1s;
    animation-name: bounceIn;

    cursor: pointer;
}
#refresh:hover {
    background-color: #f88a22;
}


#icon {
    padding: 2vh;
    font-size: 100px;
    color: #333;
}

#results {
    background-color: #f2cb00;
    padding: 2vh;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width: 60%;
    margin-left: 20%;

    border-radius: 10px;
    border: solid 4px #b71e2c;

    animation-duration: 1s;
    animation-name: bounceIn;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  40% {
    opacity: 0;
  } 76% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}